@import "../../styles.scss";
mat-toolbar{
    position: fixed;
    top: 0px;
    display: flex;
    background-color: $primary !important;
}
button{
    font-weight: bold;
}
.fill-space {
    flex: 1 1 auto;
}
.usericon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}