@import "../../styles.scss";
.btn-teacher{
    background-color:$secondary !important;
    margin: 20px;
    height: 150px;
    width: 95%;
    font-size: 30px;
    font-style: bold;
    color:white;
}

.container{

}



